@tailwind base;
.input i {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.toggle-checkbox:checked {
    right: 0;
    border-color: #0C6FFF;
  }
.toggle-checkbox:checked + .toggle-label {
background-color: #0C6FFF;
}
.text-small {
    font-size: 10px
}
@tailwind components;
@tailwind utilities;